@import url("./base.css");

body {
    background-color: #181719;
    margin: 2rem;
    height: 100vh;
    width: 100%;
}
.icon-exit {
    width: 100%;
    text-align: right;
}
img {
    height: 40px;
    width: 40px;
}
ul {
    gap: 5rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 40px);
    width: 100%;
}
li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    font-family: Montserrat;
    color: #ffffff;
}
li a:hover {
    font-weight: 900;
    text-decoration: none;
    border-bottom: 2px solid #fff;
}
